<header class="bg-primary bg-gradient text-white">
  <div class="container px-4 py-5 pm-5 text-center">
    <h1 class="fw-bolder">Empresa Financeira</h1>
    <p class="lead">Ler, cadastrar, editar e deletar clientes. Tudo em um só lugar.</p>
  </div>
</header>
<section id="about">
  <div class="container px-4 py-5 pm-5">
      <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
              <h2>Sobre nós</h2>
              <p class="lead">Teste final do curso de capacitação Java e Angular oferecido pela Minsait.</p>
              <p>
                Esta página consome a API de uma empresa financeira fictícia, permitindo realizar
                todas as operações CRUD de um cliente.
              </p>
          </div>
      </div>
  </div>
</section>
